.chapeau {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.pagination {
    margin: 15px;
    text-align: center;
}  

.boutonPagination {
        background-color: #6E62FF;
        border-radius: 10px;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px;
        cursor: pointer;
}

.separator {
    border: 3px solid #6E62FF; 
    border-radius: 10px;
    width: 91px;
    margin: 20px auto;
}

.cardList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}