/* Header.module.css */


.header {
  background-color: #0C0C0C;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 85px;
  padding: 0 100px;

}

.headerRight {
  display: flex;

  align-items: center;
  gap: 8px;
  /* width: 40%; */
}

.headerLeft {
  background-color: rgb(33, 33, 33);

  display: flex;
  align-items: center;

  height: 70px;
  padding: 0 10px;

  border-radius: 10px;


}

.btnHeader {
  border-radius: 37px !important;
  padding: 10px 20px !important;
}