.footer {
  background-color: #0C0C0C;
  
  width: 100%;
  height: 128px;

  display: flex;
  align-items: center;

}

.footerLeft {

  width: 80%;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.footerRight {
  width: 40%;

  display: flex;
  justify-content: center;

}

.footer > hr {
  border: solid 2px white;
  border-radius: 2px;
  height: 50%;
}

.btnFooter {
  width: 210px;
  height: 60px;

  color: white;

  font-size: 20px;
}


